{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "pagination": true,
    "articleRender": true,
    "handlers": true
  },
  "rules": {
    "no-console": "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off"
  }
}