html {
    width: 100%;
    height: 100%;

    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

    background-image: url("img/background.jpg");
    background-size: auto;
    background-position: center;
}

#content {
    flex: 1 0 auto;
}

.header {
    width: 100%;
    height: 40px;

    top: 0;

    font-family: "Century Gothic";
}

.top-buttons {
    width: 100%;
    height: 100%;

    margin-top: 0;

    background-color: #000000;
}

.home-img {
    height: 40px;
    width: 40px;

    margin-left: 3%;

    background: transparent;
}

.search-box {
    height: 30px;
    width: 30px;

    margin-left: 6%;
    margin-top: 4px;
    padding: 0 0 0 0;

    vertical-align: middle;
    white-space: nowrap;

    display: inline-block;
    position: absolute;

}

.search-icon {
    height: 30px;
    padding: 0;
    float: left;
    z-index: 1;
    position: absolute;
}

.search-box input#search:focus, .search input#search:active {
    width: 300px;
    outline: none;
}

.search-box:hover input#search-input {
    width: 300px;

    background: white;
    color: black;
}

.search-box:hover .search-icon {
    color: #93a2ad;
}

#search-input {
    width: 30px;
    height: 30px;
    float: left;

    padding-left: 35px;

    background: transparent;
    border: none;
    border-radius: 5px;

    font-size: 10pt;
    color: #fff;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.head-name {
    width: 20%;
    height: 20px;

    margin-right: 18.5%;
    margin-top: 0.45%;

    float: right;

    font-family: "Century Gothic";
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.user-name {
    width: 70px;
    height: 20px;

    margin-right: 2%;
    margin-top: 13px;

    float: right;

    background: transparent;

    font-family: "Century Gothic";
    font-size: 10px;
    text-decoration: none;
    color: white;

    visibility: hidden;
}

.sign-out-button {
    width: 70px;
    height: 20px;

    margin-right: 3%;
    margin-top: 9px;

    float: right;

    font-family: "Century Gothic";
    font-size: 10px;
    color: white;
    text-decoration: none;
    border-style: none;
    background: transparent;

    visibility: hidden;
}

.sign-in-button {
    width: 70px;
    height: 20px;

    margin-right: 1%;
    margin-top: 9px;

    float: right;

    font-family: "Century Gothic";
    font-size: 10px;
    color: white;
    text-decoration: none;

    background: transparent;
    border-style: none;
}

.wrapper {
    max-width: 90%;
    min-height: 100%;

    margin-left: 5%;
    margin-top: 40px;

    display: inline-block;
}

/*authorization*/

.authorization {
    height: 100%;
    width: 20%;

    margin: 10% auto;
    padding-top: 1%;
    padding-bottom: 1%;

    font-family: "CenturyGothicRu";
    text-align: center;
    color: white;

    display: none;
}

.authorization h4 {
    padding-top: 3%;
    padding-bottom: 3%;

    background-color: rgba(2, 2, 2, 0.3);

    text-align: center;
}

.authorization-form {
    padding-top: 8%;
    padding-bottom: 8%;

    background-color: rgba(2, 2, 2, 0.3);
}

.authorization input {
    padding: 0;
}

.log-in-button {
    background: transparent;
    border: none;

    font-family: CenturyGothicRu;
    font-size: 15px;
    color: white;

    text-align: center;
}

/*authorization*/

/*detailedView*/

.detailed-view {
    width: 70%;

    margin-top: 5%;
    margin-left: 25%;

    display: none;
}

.dv-news {
    width: 71.5%;

    float: left;
}

.dv-title {
    width: 100%;

    font-family: CenturyGothicRu;
    font-size: 20px;

    text-align: center;
}

.dv-img {
    width: 100%;

    padding-top: 2%;
}

.dv-content {
    width: 98%;

    margin-top: 0;
    padding-left: 1%;
    padding-right: 1%;

    background-color: rgba(255, 255, 255, 0.64);
    color: black;

    text-align: justify;
}

.dv-meta {
    width: 100%;

    margin-bottom: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    background-color: rgba(255, 255, 255, 0.64);

    text-align: right;
}

.dv-edit-remove-buttons {
    width: 15%;
    min-width: 190px;
    height: 60px;

    margin-top: 2.85%;
    margin-left: 54%;

    float: left;
    position: fixed;

    background-color: rgba(2, 2, 2, 0.3);
    text-align: center;

    visibility: hidden;
}

.dv-edit-news-button, .dv-remove-news-button {
    width: 100%;
    height: 50%;

    margin-top: 0;

    border: none;
    background: none;

    font-family: CenturyGothicRu;
    font-size: 15px;

    color: white;

    text-align: center;
}

.dv-edit-news-button, .dv-remove-news-button {
    cursor: pointer;
}

/*detailedView*/

/*add-News page*/

#add-news-page, #edit-news-page {
    width: 100%;
    height: 65vh;

    display: none;
}

.add-news-form, .edit-news-form {
    width: 50%;
    height: 100%;

    margin-left: 25%;
    margin-top: 7%;
}

#add-news-title, #add-news-img, #add-news-tags, #edit-news-title, #edit-news-img, #edit-news-tags {
    width: 100%;
    height: 4%;

    resize: none;

    text-align: center;
}

#add-news-content, #edit-news-content {
    width: 100%;
    height: 50%;

    resize: none;

    text-align: center;
}

#add-news-button, #edit-news-button {
    width: 30%;
    min-width: 130px;

    margin-left: 35%;
    margin-top: 5%;

    background: white;
    border: 1px solid #b4b4b4;

    font-family: CenturyGothicRu;
}

/*add-News page*/

.news-list {
    width: 70%;
    float: left;

    text-align: center;
}

.show-more-news {
    width: 100%;
    height: 4vh;

    margin-top: 2%;
    margin-left: 0;

    display: block;
}

.show-more-news input {
    width: 100%;
    height: 100%;

    margin-left: 0;

    font-weight: 400;

    background: transparent;
    border: none;

    text-align: center;
}

.article-list-item {
    width: 100%;

    margin-top: 3%;

    display: inline-block;
}

.article-list-item-img {
    width: 30%;

    margin: 0;
    margin-top: 2%;

    float: left;

    display: inline-block;
}

.article-list-item-summary {
    width: 60%;

    margin: 0;
    margin-top: 2%;
    padding-left: 1%;

    float: left;

    font-family: "Calibri";

    text-align: justify;
}

.article-list-item title {
    width: 100%;

    text-align: center;
}

.article-list-item-title {
    font-family: "CenturyGothicRu";
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.article-list-item-meta {
    padding-top: 2%;
    float: right;
}

.filter-add-button {
    width: 25%;

    margin-left: 67%;
    margin-top: 2.5%;

    float: left;
    position: fixed;

    font-family: "CenturyGothicRu";
    text-align: center;
}

.filter {
    padding-top: 2%;

    background-color: rgba(2, 2, 2, 0.3);
    color: white;
}

.filter input {
    width: 12vw;
    height: 20px;

    padding: 0;
}

.find-button {
    padding: 0 18px;
    margin-bottom: 3%;

    background: transparent;
    border: none;

    font-family: "CenturyGothicRu";
    font-size: 15px;
    color: white;
}

.add-button {
    width: 100%;

    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

    border: none;

    background-color: rgba(2, 2, 2, 0.3);

    font-family: "CenturyGothicRu";
    font-size: 15px;
    color: white;

    visibility: hidden;
}

footer {
    flex: 0 0 auto;
    width: 100%;
    height: 40px;

    margin-top: 1.5%;

    background-color: black;

    font-family: "Century Gothic";
    font-size: 12px;
    color: white;

    display: block;
}

footer div {
    margin-top: 3px;
    margin-left: 15%;

    float: left;
}

footer:first-child {
    margin-left: 3%;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

@font-face {
    font-family: "CenturyGothicRu";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

clear {
    clear: both;
}