html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("img/background.jpg");
    background-size: auto;
    background-position: center;
}

.header {
    width: 100%;
    height: 40px;
    top: 0;
    font-family: "Century Gothic";
}

.top-buttons {
    margin-top: 0;
    width: 100%;
    height: 40px;
    background-color: #000000;
}

.home-img {
    margin-left: 3%;
    height: 40px;
    width: 40px;
    background: transparent;
}

.search-box {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    padding: 0 0 0 0;
    margin-left: 6%;
    position: absolute;
    margin-top: 4px;
}

.search-icon {
    height: 30px;
    padding: 0 0 0 0;
    float: left;
    z-index: 1;
    position: absolute;
}

.search-box input#search:focus, .search input#search:active {
    outline: none;
    width: 300px;
}

.search-box:hover input#search-input {
    width: 300px;
    background: white;
    color: black;
}

.search-box:hover .search-icon {
    color: #93a2ad;
}

#search-input {
    width: 30px;
    height: 30px;

    background: transparent;

    border: none;
    font-size: 10pt;
    float: left;
    color: black;

    padding-left: 35px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    border-radius: 5px;
    color: #fff;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.head-name {
    color: white;
    font-size: 3vh;
    font-family: "Century Gothic";
    float: right;
    margin-right: 18.5%;
    margin-top: 0.7%;
    width: 15%;
    height: 20px;
    text-decoration: none;
}

.user-name {
    color: white;
    font-size: 10px;
    font-family: "Century Gothic";
    float: right;
    margin-right: 2%;
    margin-top: 13px;
    width: 70px;
    height: 20px;
    text-decoration: none;
    background: transparent;

    visibility: hidden;
}

.sign-out-button {
    color: white;
    font-size: 10px;
    font-family: "Century Gothic";
    float: right;
    margin-right: 3%;
    margin-top: 9px;
    width: 70px;
    height: 20px;
    text-decoration: none;
    background: transparent;

    visibility: hidden;
}

.sign-in-button {
    color: white;
    font-size: 10px;
    font-family: "Century Gothic";
    float: right;
    margin-right: 1%;
    margin-top: 9px;
    width: 70px;
    height: 20px;
    text-decoration: none;
    background: transparent;
}

.wrapper {
    max-width: 90%;
    min-height: 100%;
    margin-left: 5%;
    margin-top: 40px;
    display: inline-block;
}

/*authorization*/

.authorization {
    text-align: center;
    width: 20%;
    margin: 10% auto;
    background-color: rgba(2, 2, 2, 0.3);
    padding-top: 1%;
    padding-bottom: 1%;

    color: white;
    font-family: "CenturyGothicRu";
    display: none;
}

.authorization input {
    padding: 0;
}

.log-in-button {
    text-align: center;
    background: transparent;
    border: none;

    color: white;
    font-family: CenturyGothicRu;
    font-size: 15px;
}

/*authorization*/

/*detailedView*/

.detailed-view {
    width: 70%;
    margin-top: 5%;
    margin-left: 25%;

    display: none;
}

.dv-news{
    width: 71.5%;
    float:left;
}

.dv-title {
    width: 100%;
    text-align: center;

    font-family: CenturyGothicRu;
    font-size: 20px;
}

.dv-img {
    width: 100%;
    padding-top: 2%;
}

.dv-content {
    width: 98%;
    margin-top: 0;

    padding-left: 1%;
    padding-right: 1%;

    background-color: rgba(2, 2, 2, 0.3);

    color:white;
    text-align: justify;
}

.dv-meta {
    width: 100%;
    margin-bottom: 1%;

    padding-top: 0.5%;
    padding-bottom: 0.5%;

    text-align: right;
    background-color: rgba(255, 255, 255, 0.64)
}

.dv-edit-remove-buttons{
    margin-left: 56%;
    width: 15%;
    height: 60px;
    margin-top: 2.85%;
    float: left;
    text-align: center;
    position: fixed;
    background-color: rgba(2, 2, 2, 0.3);

    visibility: hidden;
}

.dv-edit-news-button, .dv-remove-news-button{
    width: 100%;
    height:50%;
    margin-top: 0;
    border: none;
    background: none;

    font-family: CenturyGothicRu;
    color: white;
    font-size: 15px;
    text-align: center;
}

.dv-edit-news-button, .dv-remove-news-button {
    cursor: pointer;
}
/*detailedView*/

/*add-News page*/

#add-news-page, #edit-news-page {
    width: 100%;
    height: 100%;

    display: none;
}

.add-news-form, .edit-news-form {
    width: 50%;
    height: 80%;

    margin-left: 25%;
    margin-top: 7%;
}

#add-news-title,#add-news-img,#add-news-tags, #edit-news-title, #edit-news-img, #edit-news-tags {
    width: 100%;
    height: 3%;

    resize: none;

    text-align: center;
}

#add-news-content, #edit-news-content{
    width: 100%;
    height: 50%;

    resize: none;
    text-align: center;
}

#add-news-button, #edit-news-button{
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;

    background: white;
    border: 1px solid #b4b4b4;

    font-family: CenturyGothicRu;

}

/*add-News page*/

.news-list {
    width: 70%;
    float: left;

    text-align: center;
}

.show-more-news{
    width: 100%;
    height: 4vh;
    margin-top: 2%;
    margin-left: 0;
}

.show-more-news input{
    width: 100%;
    height: 100%;
    margin-left: 0;
    text-align: center;

    font-weight: 400;
    background: transparent;
    /*border: 1px solid black ;*/
    border: none;
}

.article-list-item {
    width: 100%;
    margin-top: 3%;
    display: inline-block;
}

.article-list-item-img {
    margin: 0;
    margin-top: 2%;
    display: inline-block;
    width: 30%;
    float: left;
}

.article-list-item-summary {
    width: 60%;
    margin: 0;
    margin-top: 2%;
    padding-left: 1%;
    float: left;

    font-family: "Calibri";
    text-align: justify;
}

.article-list-item title {
    width: 100%;
    text-align: center;
}

.article-list-item-title {
    font-family: "CenturyGothicRu";
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.article-list-item-meta {
    float: right;
    padding-top: 2%;
}

.filter-add-button {
    margin-left: 67%;
    width: 25%;
    float: left;
    text-align: center;
    position: fixed;

    font-family: "CenturyGothicRu";
}

.filter {
    padding-top: 2%;
    background-color: rgba(2, 2, 2, 0.3);
    color: white;
}

.filter input {
    width: 12vw;
    height: 20px;
    padding: 0;
}

.find-button {
    padding: 0 18px;
    background: transparent;
    border: none;
    margin-bottom: 3%;
    color: white;
    font-family: "CenturyGothicRu";
    font-size: 15px;
}

.add-button {
    width: 100%;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;

    background-color: rgba(2, 2, 2, 0.3);

    color: white;
    font-family: "CenturyGothicRu";
    font-size: 15px;

    visibility: hidden;
}

footer {
    width: 100%;
    height: 40px;
    margin-top: 1%;
    background-color: black;
    color: white;
    display: block;
    font-family: "Century Gothic";
    font-size: 12px;
}

footer div {
    float: left;
    margin-top: 3px;
    margin-left: 15%;
}

footer:first-child {
    margin-left: 3%;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

@font-face {
    font-family: "CenturyGothicRu";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

clear {
    clear: both;
}